<template name="game-layout">
  <div class="game-layout purple lighten-5">

    <main>
      {{> yield}}
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <a href="#" class="white-text"><h6>Rules</h6></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Copyright
        </div>
      </div>
    </footer>
  </div>
</template>
